.first{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #ffffff;
    position: absolute;
    margin: 190px 60px;
}
.main{
    width: 100%;
    height: 725px;
    width: 1460px;
    background-color: rgb(23, 21, 21);
}
.headtag{
    margin: -15px 2px; 
    color: #ffffff;
    position: absolute; 
    font-size: 15px;
    font-weight: 100;
}
.red{
    color: rgb(182, 5, 5);
}
.image{
    top: 0px;
    margin: 28px 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex; 
    position: absolute;
}
.image:hover{
    box-shadow: 2px 2px 1px 1px rgb(161, 142, 142);
}
.second{
    position: absolute;
    display: flex; 
    top: 40px; 
    left: 820px;
    gap: 10px;
}
.feat{
    padding: 10px 14px; 
    background-color: none; 
    color: rgb(253, 253, 255); 
    background-color: rgb(23, 21, 21); 
    border: none;
}
.home{
    padding: 10px 14px; 
    background-color: none; 
    color: rgb(253, 253, 255); 
    background-color: rgb(23, 21, 21); 
    border: 1px solid rgb(23, 21, 21);
}
.resume{
    padding: 10px 14px; 
    background-color: none; 
    color: rgb(253, 253, 255); 
    background-color: rgb(23, 21, 21); 
    border: none;
}
.blog{
    padding: 10px 14px; 
    background-color: none; 
    color: rgb(253, 253, 255); 
    background-color: rgb(23, 21, 21); 
    border: none;
}
.cert{
    padding: 10px 14px; 
    background-color: none; 
    color: rgb(253, 253, 255); 
    background-color: rgb(23, 21, 21); 
    border: none;
}
.cont{
    padding: 8px 12px; 
    background-color: none; 
    color: rgb(253, 253, 255); 
    background-color: rgb(23, 22, 22); 
    border: none;
}
.girl{
    top: 100px;
    position: absolute; 
    height: 400px;
    width: 400px;
    left: 100px; 
    border-radius: 50%;
    border: 1px solid rgb(8, 8, 8);
}
.home:hover{
    border: 1px solid rgb(249, 247, 247);
    box-shadow: 2px 1px 0px 0px rgb(239, 237, 237);
}
.feat:hover{
    border: 1px solid rgb(255, 251, 251);
    box-shadow: 2px 1px 0px 0px rgb(247, 246, 246);
}
.cont:hover{
    border: 1px solid rgb(251, 248, 248);
    box-shadow: 2px 1px 0px 0px rgb(239, 237, 237);
}
.cert:hover{
    border: 1px solid rgb(251, 247, 247);
    box-shadow: 2px 1px 0px 0px rgb(239, 237, 237);
}
.blog:hover{
    border: 1px solid rgb(246, 244, 244);
    box-shadow: 2px 1px 0px 0px rgb(239, 237, 237);
}
.resume:hover{
    border: 1px solid rgb(251, 248, 248);
    box-shadow: 2px 1px 0px 0px rgb(239, 237, 237);
}
.para{
    height: 150px;
    width: 650px;
    font-weight: 100;
    font-size: 15px;
}
.dnav{
    height: 110px;
    width: 1460px;
    background-color: #af0909;
    position: absolute; 
    bottom: 0%;
}
.link{
    color: white; 
    top: 18%;
    left: 50%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: medium;
}
.paras{
    top: 25%;
    left: 45%;
    position: absolute;
    font-size: large;
}
.icon1{
    height: 27px;
    width: 27px;
}
.icon{
    position: absolute;
    display: flex; 
    gap: 15px; 
    bottom: 15px;
    left: 55px;
}
